html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    font-family: 'Arial', Helvetica, sans-serif;
    background-image: url("./images/houndstooth-pattern.png");
    background-repeat: repeat;
    line-height: 34px;
    font-size: 20px;
    color: #777777; 
}

.footer, .push{
    height: 50px;
}

footer{
    background-color: rgb(66, 66, 66);
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
    margin-top: 50px;
}

.header, .content{
    max-width: 960px;
    margin: 0 auto;
}

header{
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    border: 1px solid #cccccc;
}

.content{
    background: #ffffff;
}

hr{
    border-width: 3px;
    border-color: #d3d3d3;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.author{
    max-width: 40%;
    margin: 0 auto;
    float: left;
    background-color: #4aaaa5;
    padding: 40px;
    line-height: 0.1;
}

.navBar{
    float: right;
    margin-top: 15px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

h1{
    margin: 0 auto;
    color: #4aaaa5;
}

.profile{
    width: 300px;
    height: 300px;
    float: left;
    margin: 26px 20px 10px 0px;
}

.content-body{
    padding-top: 20px;
}

.item{
    background-size: 300px 200px;
    height: 200px;
    width: 300px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
}

#item-1{
    background-image: url("./images/kbm.jpg");
}

#item-2{
    background-image: url("./images/kbmoutdoors.jpg");
}

#item-3{
    background-image: url("./images/mouse-invaders.png");
}

#item-4{
    background-image: url("./images/stream.jpg");
}

#item-5{
    background-image: url("./images/youtube.jpg");
}

.portfolio-item-text{
    background: #4aaaa5;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 302px;
    color: white;
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: #ffffff;
}

li{
    float: left;;
}

li a{
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #777777;
}

li a:hover{
    background-color: #4aaaa5;
    color: white;
}

.container{
    padding: 40px;
    border: 1px solid #dddddd;
}

.content-blank{
    content: "";
}

.portfolio-item{
    position: relative;
    margin: 20px 20px 20px 5px;
    width: 302px;
    float: left;
}

.portfolio-item:hover{
    border: 5px #4aaaa5 solid;
    margin: 15px 15px 15px 0px;
}

.row{
    max-width: 100%;
    min-height: 230px;
    margin-top: 15px;
}

img{
    width: 100%;
    height: 200px;
    vertical-align: middle;
}

.separator{
    padding-top: 7px;
    font-size: 20px;
    color: #c7c7c7;
}

* {
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(20, 148, 148, 0.667);
}

.form-box {
    border-radius: 5px;
}