html, body{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Arial', Helvetica, sans-serif;
    background-image: url("./images/houndstooth-pattern.png");
    background-repeat: repeat;
    line-height: 34px;
    font-size: 20px;
    color: #777777; 
}

.header, .content{
    max-width: 960px;
    margin: 0 auto;
}

header{
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    border: 1px solid #cccccc;
}

.content{
    background: #ffffff;
}

hr{
    border-width: 3px;
    border-color: #d3d3d3;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
}

.author{
    max-width: 40%;
    margin: 0 auto;
    float: left;
    background-color: #4aaaa5;
    padding: 20px;
}

.navBar{
    float: right;
    margin-top: 15px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

h1{
    margin: 0 auto;
    color: #4aaaa5;
}

.profile{
    width: 300px;
    height: 300px;
    float: left;
    margin: 26px 20px 10px 0px;
}

.content-body{
    padding-top: 20px;
}

.item-1, .item-2, .item-3, .item-4, .item-5{
    background-size: 300px 200px;
    height: 200px;
    width: 300px;
    position: relative;
    margin: 30px;
}

.item-1{
    background-image: url("./images/kbm.jpg");
}

.item-2{
    background-image: url("./images/kbmoutdoors.jpg");
}

.item-3{
    background-image: url("./images/mouse-invaders.png");
}

.item-4{
    background-image: url("./images/stream.jpg");
}

.item-5{
    background-image: url("./images/youtube.jpg");
}

.portfolio-item-text{
    background: #4aaaa5;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
    color: white;
}

h1, h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: #ffffff;
}

li{
    float: left;
    border-right: 1px solid;
}

li:last-child{
    border-right: none;
}

li a{
    text-decoration: none;
    display: block;
    padding: 8px;
    color: #777777;
}

li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

.container{
    padding: 30px;
    border: 1px solid #dddddd;
}


